<!doctype html>

<head>
<title>Stockr!</title>
<script type="text/javascript">
    (function(p,u,s,h){
        p._pcq=p._pcq||[];
        p._pcq.push(['_currentTime',Date.now()]);
        s=u.createElement('script');
        s.type='text/javascript';
        s.async=true;
        s.src='https://cdn.pushcrew.com/js/dd7025f9361db322aa52f0c72c04ea79.js';
        h=u.getElementsByTagName('script')[0];
        h.parentNode.insertBefore(s,h);
    })(window,document);
</script>

</head>
<body>
{% block body %}

{% endblock %}

<script>
window._pcq = window._pcq || [];
_pcq.push(['noTrigger',true]); //disables automatic opt-in for push notifications.
</script>